@charset "utf-8";

:root {
	--app-button-colour: #1f7d1f;
	--app-button-font-colour: #ffffff;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.page-content {
	margin: auto;
}

.star {
	cursor: pointer;
}

.star svg {
	transition: color 0.25s ease-in-out;
}

.star svg.active {
	color: yellow;
}

.star-bar {
	display: flex;
	margin-inline: auto;
	font-size: 2.4rem;
}

.rating-text {
	text-align: center;
}

button.open-dialog {
	width: 9em;
	height: 3em;
	border-radius: 1.5em;
	font-size: 0.5em;
	cursor: pointer;

	position: fixed;
	right: 10px;
	bottom: 10px;
}

.dialog-background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9;
	background-color: #00000020;
	display:flex;
	transition: all 0.2s ease-in;
}

.dialog-content {
	margin:auto;
	width: 200px;
	height: 75px;
	background-color: #f3f4f7;
	color: #000000;
	border-radius: 15px;
}

.dialog-content h2 {
	font-size: 1rem;
	text-align: center;
	margin-top: 10px;
}

.dialog-content p {
	font-size: 0.8rem;
	text-align: center;
	margin-top: 6px;
}

.dialog-content a {
	display:block;
	color: #0000ff;
}